.header {
  font-family: var(--font-poppins);
  padding: 33px 0;
}

.container {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 32px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 54px;
  background-color: var(--color-lightgray);
  padding: 12px 31px;
  border-radius: 25px;
}

.navLink {
  font-size: 14px;
  color: #374151;
  text-decoration: none;
}

.navLink:hover {
  color: var(--color-primary);
}

.button {
  padding: 8px 24px;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  border-radius: 9999px;
  font-size: 14px;
  background: transparent;
  cursor: pointer;
  transition: all 0.2s;
}

.button:hover {
  background: var(--color-primary);
  color: white;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.mobileMenu {
  position: fixed;
  inset: 0;
  background: white;
  z-index: 999;
  padding: 32px;
  display: flex;
  flex-direction: column;
}

.close {
  align-self: flex-end;
  background: none;
  border: none;
  cursor: pointer;
}

.mobileNav {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 24px;
}

.mobileNav a {
  text-decoration: none;
  color: #111;
  font-weight: 600;
}

.mobileCTA {
  color: var(--color-primary);
}

@media (max-width: 1060px) {
  .nav {
    display: none;
  }

  .button {
    display: none;
  }

  .hamburger {
    display: flex;
    align-items: center;
  }
}
