@import "tailwindcss";

@theme {
  --color-primary: #0b5ed7;
  --color-secondary: #48494e;
  --color-accent: #ff1493;
  --color-gray: #f6f6f6;
  --color-med-gray: #636363;
  --color-lightgray: #f1f1f1;
}

body {
  font-family: var(--font-jakarta);
}

div,
p {
  color: var(--color-secondary);
}

.container {
  max-width: calc(1285px + 160px);
  margin: 0 auto;
  padding: 0 80px;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 40px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 24px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 16px;
  }
}
