.pairing-list {
  display: grid;
  gap: 2rem;
  padding: 1rem 0;
  grid-template-columns: repeat(auto-fiLL, minmax(250px, 1fr));
}

.empty-state {
  padding: 2rem;
  text-align: center;
  color: #777;
  font-style: italic;
}
