.service {
  padding-top: 140px;
  padding-bottom: 140px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.sectionHeader {
  padding-bottom: 79px;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
